<a href="https://colab.research.google.com/github/Adeola23/google-colab/blob/master/Stage_B_quiz_hamoye.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import matplotlib.pyplot as plt  #to plot data
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import MinMaxScaler
import math

%matplotlib inline

In [6]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'

In [7]:
energy_df = pd.read_csv(url)
energy_df.head(5)

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [8]:
energy_df = energy_df.drop(['date', 'lights'], axis =1 )
energy_df

       Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
0              60  19.890000  47.596667  ...   5.300000  13.275433  13.275433
1              60  19.890000  46.693333  ...   5.200000  18.606195  18.606195
2              50  19.890000  46.300000  ...   5.100000  28.642668  28.642668
3              50  19.890000  46.066667  ...   5.000000  45.410389  45.410389
4              60  19.890000  46.333333  ...   4.900000  10.084097  10.084097
...           ...        ...        ...  ...        ...        ...        ...
19730         100  25.566667  46.560000  ...  13.333333  43.096812  43.096812
19731          90  25.500000  46.500000  ...  13.300000  49.282940  49.282940
19732         270  25.500000  46.596667  ...  13.266667  29.199117  29.199117
19733         420  25.500000  46.990000  ...  13.233333   6.322784   6.322784
19734         430  25.500000  46.600000  ...  13.200000  34.118851  34.118851

[19735 rows x 27 columns]

In [9]:
energy_df.columns = ['Appliances','T1',	'RH_1',	'T2',	'RH_2',	'T3',	'RH_3',	'T4',	'RH_4',	'T5',	'RH_5',	'T6',	'RH_6',	'T7',	'RH_7',	'T8',	'RH_8',	'T9',	'RH_9',	'T_out',	'Press_mm_hg',	'RH_out',	'Windspeed',	'Visibility',	'Tdewpoint',	'rv1',	'rv2']

In [10]:
scaler = MinMaxScaler()
energy_df = pd.DataFrame(scaler.fit_transform(energy_df), columns =  energy_df.columns)
energy_df

       Appliances        T1      RH_1  ...  Tdewpoint       rv1       rv2
0        0.046729  0.327350  0.566187  ...   0.538462  0.265449  0.265449
1        0.046729  0.327350  0.541326  ...   0.533937  0.372083  0.372083
2        0.037383  0.327350  0.530502  ...   0.529412  0.572848  0.572848
3        0.037383  0.327350  0.524080  ...   0.524887  0.908261  0.908261
4        0.046729  0.327350  0.531419  ...   0.520362  0.201611  0.201611
...           ...       ...       ...  ...        ...       ...       ...
19730    0.084112  0.926786  0.537657  ...   0.901961  0.861981  0.861981
19731    0.074766  0.919747  0.536006  ...   0.900452  0.985726  0.985726
19732    0.242991  0.919747  0.538666  ...   0.898944  0.583979  0.583979
19733    0.383178  0.919747  0.549491  ...   0.897436  0.126371  0.126371
19734    0.392523  0.919747  0.538758  ...   0.895928  0.682391  0.682391

[19735 rows x 27 columns]

In [11]:
X = energy_df[['T2']]
Y = energy_df[['T6']]

# Split X and y into X_
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

# create a Linear Regression model object
reg = LinearRegression()

# pass through the X_train & y_train data set
reg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
Y_predict = reg.predict(X_test)

In [43]:
reg_r2 = r2_score(Y_test, Y_predict)
round(reg_r2, 2)

0.64

In [27]:
energy_df_after = energy_df.drop(['Appliances'], axis = 1)

x = energy_df_after
y = energy_df['Appliances']

# Split X and y into X_
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

# create a Linear Regression model object
reg = LinearRegression()

# pass through the X_train & y_train data set
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
y_predict = reg.predict(x_test)

In [31]:
def get_weights_df(reg, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(reg.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_df(reg, x_train, 'Linear_Model_Weight')
print(linear_model_weights)

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [35]:
model_mae = mean_absolute_error(y_test, y_predict)
print("MAE {:.2}".format(model_mae))

MAE 0.05

In [40]:
mse = mean_squared_error(y_test, y_predict)
round (mse, 3)

0.008

In [41]:
rmse =  math.sqrt(mse)
round(rmse, 3)

0.088

In [42]:
reg_r2 = r2_score(y_test, y_predict)
round (reg_r2, 2)

0.15

In [42]:
rss = np.sum(np.square(y_test - y_predict))
round(rss, 2)

Appliances    45.35
dtype: float64

In [33]:
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit (x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [34]:
predicted_value = lasso_reg.predict(x_test)

In [35]:
l_mse = mean_squared_error(y_test, predicted_value)
round(l_mse, 3)

0.009

In [38]:
rmse =  math.sqrt(l_mse)
round(rmse, 3)

0.094